<div class="row">
  <div class="col-8">
    <div class="card">
      <div class="card-header bg-success">
        <h1> Users :</h1>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Surname</th>
                  <th>Gender</th>
                  <th>Birthdate</th>
                  <th>workAddress</th>
                  <th>homeAddress</th>
                </tr>
              </thead>
              <tbody>
                
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-header bg-success">
        Register
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-6">
            <label for="">Name</label>
            <input type="text" class="form-control">
          </div>
          <div class="col-6">
            <label for="">Surname</label>
            <input type="text" class="form-control">
          </div>
          <div class="col-6">
            <label for="">Gender</label>
            <input type="text" class="form-control">
          </div>
          <div class="col-6">
            <label for="">Date</label>
            <input type="text" class="form-control">
          </div>
          <div class="col-12">
            <label for="">Work Address</label>
            <textarea class="form-control"></textarea>
          </div>
          <div class="col-12">
            <label for="">Home Address</label>
            <textarea class="form-control"></textarea>
          </div>
        </div>
      </div>
      <div class="row pt-2">
        <div class="col-6 text-center">
          <button class="btn btn-secondary">Reset</button>
        </div>
        <div class="col-6 text-center">
          <button class="btn btn-success">Register</button>
        </div>
      </div>
    </div>
  </div>
</div>


  
  @for(user of $users | async; track user.id) {
    <h2>{{user.name}}</h2>
    <p> {{user.surname}}</p>
    <p> {{user.gender}}</p>
    <p> {{user.birthDate}}</p>
    <p> {{user.workAddress}}</p>
    <p> {{user.homeAddress}}</p>
  } @empty {
    <p>No users found</p>
  }