<div class="row">
  <div class="col-8">
    <div class="card">
      <div class="card-header bg-success">
        <h1> Users </h1>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Surname</th>
                  <th>Gender</th>
                  <th>Birthdate</th>
                  <th>workAddress</th>
                  <th>homeAddress</th>
                  <th class="text-center">Controls</th>
                </tr>
              </thead>
              <tbody>
                @for(user of $users | async; track user.id) {
                  <tr>
                    <td> {{user.name}}</td>
                    <td> {{user.surname}}</td>
                    <td> {{user.gender}}</td>
                    <td> {{user.birthDate}}</td>
                    <td> {{user.workAddress}}</td>
                    <td> {{user.homeAddress}}</td>
                    <td class="text-center">
                      <button class="btn btn-primary" (click)="onEdit(user)">Edit</button>
                      <button class="btn btn-danger mx-2" (click)="onDelete(user)">Delete </button>
                    </td>
                  </tr>
                } @empty {
                  <tr>
                    <td>No users found</td>
                  </tr>
                }
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-header bg-success">
        Register
      </div>
      <div class="card-body">
        <form [formGroup]="userForm">
          <div class="row">
            <div class="col-6">
              <label for="">Name</label>
              <input type="text" formControlName="name" class="form-control">
            </div>
            <div class="col-6">
              <label for="">Surname</label>
              <input type="text" formControlName="surname" class="form-control">
            </div>
            <div class="col-6">
              <label for="">Gender</label>
              <input type="text" formControlName="gender" class="form-control">
            </div>
            <div class="col-6">
              <label for="">Date</label>
              <input type="text" formControlName="birthDate" class="form-control"/>
            </div>
            <div class="col-12">
              <label for="">Work Address</label>
              <textarea formControlName="workAddress" class="form-control"></textarea>
            </div>
            <div class="col-12">
              <label for="">Home Address</label>
              <textarea formControlName="homeAddress" class="form-control"></textarea>
            </div>
          </div>
          <div class="row  pt-2">
            <div class="col-6 text-center">
              <button class="btn btn-secondary">Reset</button>
            </div>
            <div class="col-6 text-center">
              <button class="btn btn-success" (click)="onSave()">Register</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>